%h4 Basic Skill Costs
%ul
  %li
    %label Normal skills
    = text_field_tag :normal, "20", :class => "skill", "data-type" => "normal"
  %li 
    %label Double skills
    = text_field_tag :double, "30", :class => "skill", "data-type" => "double"
  %li
    %label Forbidden skills
    = text_field_tag :forbidden, "30", :class => "skill", "data-type" => "forbidden"
  %li
    %label +St
    = text_field_tag :st, "50", :class => "skill", "data-type" => "st"
  %li
    %label +Ag
    = text_field_tag :ag, "40", :class => "skill", "data-type" => "ag"
  %li
    %label +Ma
    = text_field_tag :ma, "30", :class => "skill", "data-type" => "ma"
  %li
    %label +Av
    = text_field_tag :av, "30", :class => "skill", "data-type" => "av"
%h4 Team Options
%ul
  %li
    %label Separate Skill Cost from TV
    = check_box_tag :separate_skills
  %li 
    %label Duplicate Skill increase cost
    = text_field_tag :duplicate_increase_cost
