%table
  %tr.teamValue
    %td
      %h4 Team Value:
    %td.tv= @team.tv.to_s + "k"
  %tr
    %td{:width => 200}
      %h4 Coached by:
    %td.clickable
      .text Nuffle
      .inputs{:style => "display:none"}
        = text_field_tag "coach[name]"
  %tr
    %td
      %h4 Team Gold:
    %td.clickable.gold 
      .text= (1000 - @team.tv).to_s 
      .inputs.num{:style => "display:none"}
        = text_field_tag "team[gold]"
      k
    - if @team.roster.allow_apo?
      %td 
        %h4 Apothecary
      %td.clickable.apothecary
        .text= @team.apo ? "Yes" : "No"
        .inputs.select{:style => "display:none"}
          = select_tag "apothecary", options_for_select([["Yes", "Yes"], ['No', "No"]], @team.apo ? "Yes" : "No")
  %tr
    %td
      %h4= "Rerolls (#{@team.roster.reroll_cost.to_i}k):"
    %td.clickable.rerolls
      .text= @team.rerolls.to_i
      .inputs.num{:style => "display:none", :data => {:cost => @team.roster.reroll_cost.to_i, :attribute => "rerolls"}}
        = text_field_tag "team[rerolls]"
    %td{:width => 200}
      %h4 Cheerleaders:
    %td.clickable.cheerleaders
      .text= @team.cheerleaders.to_i
      .inputs.num{:style => "display:none", :data => {:cost => 10, :attribute => "cheerleaders"}}
        = text_field_tag "team[cheerleaders]"
  %tr
    %td
      %h4 Assistant Coaches:
    %td.clickable.assistant_coaches
      .text= @team.assistant_coaches.to_i
      .inputs.num{:style => "display:none", :data => {:cost => 10, :attribute => "assistant_coaches"}}
        = text_field_tag "team[assistant_coaches]"
    %td
      %h4 Fan Factor:
    %td.clickable.fanfactor
      .text 0
      .inputs.num{:style => "display:none", :data => {:cost => 10, :attribute => "fanfactor"}}
        = text_field_tag "team[fan_factor]"