.teamBox
  .left.arrow
    = image_tag "left_arrow.png"
  .sliderContainer
    .teamSlider
      - Roster.all.each do |roster|
        .team
          .logo= link_to image_tag("#{roster.logo_path}"), team_path(Team.where(:roster_id => roster).first)
          .name= link_to roster.name, team_path(Team.where(:roster_id => roster).first)
      .clear
  .right.arrow
    = image_tag "right_arrow.png"