%table.table.team{:data => {:positions => @roster.positions.to_json, :download_path => download_pdf_teams_url}}
  - @players.each_with_index do |player, i|
    %tr.player{:data => {"position" => player.position.to_json}}
      %td.playerNum{:width => "10"}= i + 1
      %td.name.clickable{:width => "150"}
        .text= player.name
        .inputs{:style => "display:none"}
          = text_field_tag "players[name]"
      %td.mv{:width => "10"}= player.position.mv
      %td.st{:width => "10"}= player.position.st
      %td.ag{:width => "10"}= player.position.ag
      %td.av{:width => "10"}= player.position.av
      %td.position.clickable{:width => "150"}
        .text= player.position.name
        .inputs{:style => "display:none"}
          %select
            - @roster.positions.each do |position|
              - attrs = {:data => {:position => position.to_json}, :class => position.name}
              - attrs[:selected] = "selected" if position == player.position
              %option{attrs}= position.name
            %option{:value => "delete"} Remove this player
      %td.skills.clickable
        .skill-list
          .defaultSkills
            - player.position.default_skills.each_with_index do |skill, index|
              %span.label.label-default
                = skill
        %input{:style => "display:none"}
        .clear
      %td.cost{:width => "20"}= "#{player.position.cost}k"  
  %tr.newPlayer
    %td.playerNum 
    %td.name
      .text 
      .inputs{:style => "display:none"}
        = text_field_tag "players[name]"
    %td.mv  
    %td.st 
    %td.ag 
    %td.av 
    %td.position.clickable{:width => "150"}
      .text Add a player
      .inputs{:style => "display:none"}
        %select
          %option{:value => "cancel"}
          - @roster.positions.each do |position|
            - attrs = {:data => {:position => position.to_json}}
            %option{attrs}= position.name
    %td.skills 
      .skill-list
        .defaultSkills   
      %input{:style => "display:none"}
      .clear 
    %td.cost -
