.row-fluid.headingRow
  .span7.teamDetails
    .teamLogo= image_tag(@team.roster.logo_path)
    .teamName.clickable
      %h1.text= @team.name
      .inputs{:style => "display:none"}
        = text_field_tag "coach[name]", @team.name
    = render :partial => "team_details"
  .span5.teamList
    = render :partial => "team_list"
.row-fluid
  .span12
    = render :partial => "team_roster"
.row-fluid
  .span12
    %p{:style => "text-align: center"}
      Artwork drawn by Knut_Rockie and coloured by RyanFitz. Source code is hosted at
      = link_to("Github", "https://github.com/Hitonagashi/bloodbowl_roster")
      and suggestions/code amends are welcome!