.row-fluid.headingRow
  .span7.teamDetails
    .teamLogo= image_tag(@team.roster.logo_path)
    .teamName.clickable
      %h1.text= @team.name
      .inputs{:style => "display:none"}
        = text_field_tag "coach[name]", @team.name
    = render :partial => "team_details"
  .span5.teamList
    = render :partial => "team_list"
.row-fluid
  .span12
    = render :partial => "team_roster"