.row-fluid.headingRow
  .span7
    .teamLogo= image_tag(@team.roster.logo_path)
    %h1.teamTitle= @team.name
    = render :partial => "team_details"
  .span5
    = render :partial => "team_list"
.row-fluid
  .span12
    = render :partial => "team_roster"